{%- set ns = namespace(loop_messages=messages) -%}
{{- bos_token -}}

{%- if messages and messages[0]['role'] in ['system', 'developer'] -%}
{{- '<|turn>system\n' -}}
{%- if messages[0]['content'] is string -%}
{{- messages[0]['content'] | trim -}}
{%- elif messages[0]['content'] is sequence -%}
{%- for item in messages[0]['content'] -%}
{%- if item.get('type') == 'text' -%}
{{- item.get('text', '') | trim -}}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{{- '<turn|>\n' -}}
{%- set ns.loop_messages = messages[1:] -%}
{%- endif -%}

{%- for message in ns.loop_messages -%}
{%- if message['role'] == 'tool' -%}
{%- continue -%}
{%- endif -%}
{%- set role = 'model' if message['role'] == 'assistant' else message['role'] -%}
{{- '<|turn>' + role + '\n' -}}
{%- if message['content'] is string -%}
{{- message['content'] | trim -}}
{%- elif message['content'] is sequence -%}
{%- for item in message['content'] -%}
{%- set item_type = item.get('type', '') -%}
{%- if item_type == 'text' -%}
{{- item.get('text', '') | trim -}}
{%- elif item_type in ['audio', 'input_audio'] -%}
{{- '<|audio|>' -}}
{%- elif item_type in ['image', 'input_image', 'image_url'] -%}
{{- '<|image|>' -}}
{%- elif item_type == 'video' -%}
{{- '<|video|>' -}}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{{- '<turn|>\n' -}}
{%- endfor -%}

{%- if add_generation_prompt -%}
{{- '<|turn>model\n' -}}
{%- endif -%}
